<h1>Catégories</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.category_type == 'income' ? 'Revenu' : 'Dépense' %></td>
        <td>
          <%= link_to 'Modifier', edit_category_path(category) %>
          <%= link_to 'Supprimer', category_path(category), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ajouter une catégorie', new_category_path %>
